<%- include('../includes/head') %>
<%- include('../includes/navigation') %>
<h1>Product Page</h1>
<h2><%= product.title %></h2>
<p><%= product.id %></p>
<p><%= product.imageUrl %></p>
<p><%= product.price %></p>
<p><%= product.description %></p>
<%- include('../includes/end') %>
